$slider-width: 1200px;
$slider-height: 500px;
$slide-size: 100px;
$scale: 3;
$active-slide-size: 300px;

.slider {
  position: relative;
  margin: 200px auto;
  width: $slider-width;
  height: $slider-height;
  border: 2px solid green;
  overflow: hidden;

  &__button {
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 40px;
    border: 2px solid green;
    bottom: 0;
    font-size: 25px;
    text-align: center;

    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }
  }

  &__circle {
    cursor:pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $slide-size;
    height: $slide-size;
    border: 2px solid blue;
    border-radius: 50%;

    font-size: 50px;
    font-weight: 700;

    scale: 1;
    transition: top 1s ease-in-out,left 1s ease-in-out,translate 1s ease-in-out, width 1s ease-out, height 1s ease-out;

    &_active {
      // translate: calc($slider-width / 2 - 50%) calc($slider-height / 2 - 50%);
      left:calc($slider-width / 2 - $active-slide-size / 2);
      top:calc($slider-height / 2 - $active-slide-size / 2);
      height: $active-slide-size;
      width: $active-slide-size;
      transition: top 1s ease-in-out,left 1s ease-in-out,translate 1s ease-in-out, width 1s ease-out, height 1s ease-out;
      z-index: 5;
    }
  }
}
